@model BTRS.Models.Trip

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #f0f5fe;
        color: #37474f;
    }

    h1 {
        color: #1565c0;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h1 class="text-center mb-4">Edit Trip</h1>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="BusNum" class="control-label text-black font-weight-bold">Bus Number:</label>
                            <input asp-for="BusNum" class="form-control" />
                            <span asp-validation-for="BusNum" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="dest" class="control-label text-black font-weight-bold">Destination:</label>
                            <input asp-for="dest" class="form-control" />
                            <span asp-validation-for="dest" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StartD" class="control-label text-black font-weight-bold">Departure Date:</label>
                            <input asp-for="StartD" class="form-control" />
                            <span asp-validation-for="StartD" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EndD" class="control-label text-black font-weight-bold">Arrival Date:</label>
                            <input asp-for="EndD" class="form-control" />
                            <span asp-validation-for="EndD" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                            <a asp-action="Index" class="btn btn-secondary mt-2 ml-2">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
